@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1723127424986') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changpianCD:before {
  content: "\e6b7";
}

.icon-changpian:before {
  content: "\e7b4";
}

.icon-weibiaoti-8_huaban1:before {
  content: "\e601";
}

.icon-qugunqiu_hockey:before {
  content: "\e775";
}

